<tr>
  <td class="max-w-xs px-6 py-4 text-sm font-medium text-gray-900 truncate whitespace-nowrap">
    <%= link_to recipe.title, recipe %>
  </td>
  <td class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap">
    <%= recipe.summary %>
  </td>
  <td class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap">
    <%= recipe.servings %>
  </td>
  <td class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap">
    <%= capitalize_join_text(recipe.cuisines) %>
  </td>
  <td class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap">
    <%= capitalize_join_text(recipe.diets) %>
  </td>
  <td class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap">
    <%= capitalize_join_text(recipe.dish_types) %>
  </td>
  <td class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap">
    <%= capitalize_join_text(recipe.occasions) %>
  </td>
</tr>
