<div class="mt-8 md:flex md:items-center md:justify-end">
  <div class="flex mt-4 md:mt-0 md:ml-4"></div>

  <div class="relative py-8 bg-gray-1">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start">
      <div class="relative sm:pb-8 sm:pt-16 lg:py-0">
        <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
          <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
            <defs>
              <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
          </svg>
        </div>
        <div class="recipe-image-container">
          <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
            <%= image_tag @recipe.image, class: "absolute inset-0
            object-cover w-full h-full", alt: "image of finished recipe" %>
          </div>
        </div>
        <%= render "recipes/tag" %>

        <div class="relative z-10 grid flex-wrap grid-cols-2 px-20 lg:py-3 lg:px-4">
          <% @recipe.extendedIngredients.each do |i| %>
          <%= render 'recipes/ingredient', ingredient: i %>
          <% end %>
        </div>

        <div class="border-t-4 border-black-100">
          <% @recipe.analyzedInstructions[0].steps.each do |step| %>
          <div class="relative z-10 flex px-20 pt-6 lg:px-4">
            <div class="flex-shrink-0 mr-4">
              <span class="inline-flex items-center justify-center w-8 h-8 bg-gray-500 rounded-full">
                <span class="text-lg font-medium leading-none text-white">
                  <%= step.number %>
                </span>
              </span>
            </div>
            <div>
              <h2 class="text-lg font-bold"><%= step.step %></h2>
              <div class="flex flex-wrap">
                <% step.equipment.each do |ingredient| %>
                <%= render partial: "recipes/image_description", locals: { data: ingredient, base: @image_equipment_base } %>
                <% end %>
                <% step.ingredients.each do |ingredient| %>
                <%= render partial: "recipes/image_description", locals: { data: ingredient, base: @image_ingredient_base } %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
        <div class="pt-12 sm:pt-16 lg:pt-20">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          </h2>
          <div class="mt-6 space-y-6 text-gray-500">
            <%= @recipe.summary.html_safe %>
          </div>
        </div>

        <div class="mt-10">
          <div class="grid grid-cols-2 gap-x-4 gap-y-8">
            <div class="pt-6 border-t-2 border-gray-100">
              <dt class="text-base font-medium text-gray-500">Total Time</dt>
              <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
                <%= @recipe.readyInMinutes %>
              </dd>
            </div>

            <div class="pt-6 border-t-2 border-gray-100">
              <dt class="text-base font-medium text-gray-500">
                Weight Watchers
              </dt>
              <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
                <%= @recipe.weightWatcherSmartPoints %>
              </dd>

            </div>

            <div class="pt-6 border-t-2 border-gray-100">
              <dt class="text-base font-medium text-gray-500">Likes</dt>
              <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
                <%= @recipe.aggregateLikes %>
              </dd>
            </div>

            <div class="pt-6 border-t-2 border-gray-100">
              <dt class="text-base font-medium text-gray-500">Servings</dt>
              <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
                <%= @recipe.servings %>
              </dd>
            </div>

            <div class="pt-6 border-t-2 border-gray-100">
              <dt class="text-base font-medium text-gray-500">Likes</dt>
              <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
                <%= @recipe.aggregateLikes %>
              </dd>
            </div>

            <div class="pt-6 border-t-2 border-gray-100">
              <dt class="text-base font-medium text-gray-500">Health Score</dt>
              <dd class="text-3xl font-extrabold tracking-tight text-gray-900">
                <%= @recipe.pricePerServing %>
              </dd>
            </div>
          </div>
          <%# <div class="py-6 border-t-4 border-gray-100">
            <dt class="text-base font-medium text-gray-500">Wine Pairings</dt>
            <dd class="text-3xl tracking-tight text-gray-900 capitalize">
              <%= @recipe.winePairing 
            </dd>
          </div> %>
          <%# <div class="py-6 border-t-2 border-gray-100">
            <dt class="text-base font-medium text-gray-500">Suggested Wines</dt>
            <dd class="text-3xl tracking-tight text-gray-900 capitalize">
              <%# {recipe?.winePairing?.productMatches?.length > 0 &&
              recipe?.winePairing?.productMatches?.map((product) => { return (
              
              ); })} 
            </dd>
          </div> %>
        </div>
      </div>
    </div>
  </div>
</div>